@use "colors";
@import "functions";

body {
    background-color: colors.$cream;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: rem(14px);
    line-height: 1.643;
}

.btn {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: rem(11px);
    padding: rem(16px) rem(30px);
    border-radius: 8px;
    font-weight: 700;
    line-height: 1.143;
    color: colors.$white;
    background-color: colors.$dark-cyan;
    cursor: pointer;

    &:hover {
        background-color: colors.$dark-cyan-hover;
    }

    align-self: end;
}

.preview-card {
    display: grid;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    max-width: rem(600px);
    border-radius: 10px;
    background-color: colors.$white;
    min-height: rem(450px);
    margin: rem(40px);

    @media (max-width: rem(680px)) {
        max-width: rem(420px);
        grid-template-columns: 100%;
        grid-template-rows: rem(240px) auto;
        margin: rem(16px);
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__wrapper {
        padding: rem(32px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: rem(680px)) {
            padding: rem(24px);
        }
    }

    &__category {
        font-size: rem(12px);
        line-height: 1.25;
        font-weight: 500;
        letter-spacing: 0.4167em;
        text-transform: uppercase;
        color: colors.$dark-grayish-blue;
        margin-bottom: rem(20px);

        @media (max-width: rem(680px)) {
            margin-bottom: rem(12px);
        }
    }

    &__title {
        font-family: "Fraunces", serif;
        font-size: rem(32px);
        line-height: 1;
        color: colors.$dark-blue;
        margin-bottom: rem(24px);

        @media (max-width: rem(680px)) {
            margin-bottom: rem(16px);
        }
    }

    &__description {
        color: colors.$dark-grayish-blue;
        margin-bottom: rem(29px);

        @media (max-width: rem(680px)) {
            margin-bottom: rem(24px);
        }
    }

    &__prices {
        display: flex;
        align-items: center;
        gap: rem(19px);
        margin-bottom: rem(30px);
        flex-wrap: wrap;

        @media (max-width: rem(680px)) {
            margin-bottom: rem(20px);
        }
    }

    &__actual-price {
        font-family: "Fraunces", serif;
        font-size: rem(32px);
        line-height: 1;
        text-decoration: none;
        color: colors.$dark-cyan;
    }

    &__old-price {
        font-size: rem(13px);
        line-height: 1.769;
        color: colors.$dark-grayish-blue;
    }
}
