@use "colors";

body {
    background-color: colors.$cream;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.btn {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 11px;
    padding: 16px 30px;
    border-radius: 8px;
    font-weight: 700;
    line-height: 16px;
    color: colors.$white;
    background-color: colors.$dark-cyan;
    cursor: pointer;

    &:hover {
        background-color: colors.$dark-cyan-hover;
    }

    align-self: end;
}

.preview-card {
    display: grid;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    max-width: 600px;
    min-width: 288px;
    border-radius: 10px;
    background-color: colors.$white;
    min-height: 450px;
    margin: 40px;

    @media (max-width: 680px) {
        max-width: 420px;
        grid-template-columns: 100%;
        grid-template-rows: 240px auto;
        margin: 16px;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__wrapper {
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 680px) {
            padding: 24px;
        }
    }

    &__category {
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: colors.$dark-grayish-blue;
        margin-bottom: 20px;

        @media (max-width: 680px) {
            margin-bottom: 12px;
        }
    }

    &__title {
        font-family: "Fraunces", serif;
        font-size: 32px;
        line-height: 1;
        color: colors.$dark-blue;
        margin-bottom: 24px;

        @media (max-width: 680px) {
            margin-bottom: 16px;
        }
    }

    &__description {
        color: colors.$dark-grayish-blue;
        margin-bottom: 29px;

        @media (max-width: 680px) {
            margin-bottom: 24px;
        }
    }

    &__prices {
        display: flex;
        align-items: center;
        gap: 19px;
        margin-bottom: 30px;
        flex-wrap: wrap;

        @media (max-width: 680px) {
            margin-bottom: 20px;
        }
    }

    &__actual-price {
        font-family: "Fraunces", serif;
        font-size: 32px;
        line-height: 1;
        text-decoration: none;
        color: colors.$dark-cyan;
    }

    &__old-price {
        font-size: 13px;
        line-height: 23px;
        color: colors.$dark-grayish-blue;
    }
}
